<!doctype html>

<html>
    <head>
        <title>
            {{~#if site.title~}}{{site.title}}
            {{else}}{{about.name}}{{/if~}}
        </title>
        <meta name="keywords" content="{{join site.keywords ' '}}">
        <meta name="description" content="{{site.description}}">
        <link rel="icon" href="build/images/favicon.ico">
        <link rel="icon" href="build/images/favicon.ico" type="image/gif">
        <link rel="stylesheet" type="text/css" href="build/css/main.css">
    </head>

    <body>

        {{> body}}
        {{> analytics}}

        <script type="text/javascript" src="build/js/main.js"></script>

    </body>
</html>
