<!doctype html>

<html>
    <head>

        <title>
            {{~#if site.title~}}{{site.title}}
            {{else}}{{about.name}}{{/if~}}
        </title>

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
        <meta name="keywords" content="{{join site.keywords ' '}}">
        <meta name="description" content="{{site.description}}">
        <meta name="google-site-verification" content="qepQKJL4tXHtN1VwAvOP3z4I7jIj_cq8E8MJkxiYVtc" />

        <link rel="icon" href="build/images/favicon.ico">
        <link rel="icon" href="build/images/favicon.ico" type="image/gif">
        <link rel="stylesheet" type="text/css" href="build/css/main.css">
    </head>

    <body>

        {{> body}}
        {{> analytics}}

        <script type="text/javascript" src="build/js/main.js"></script>

    </body>
</html>
